odoo-addon-iap_alternative_provider @ git+https://github.com/OCA/server-tools.git@refs/pull/3241/head#subdirectory=iap_alternative_provider
odoo-addon-base_phone @ git+https://github.com/OCA/connector-telephony.git@refs/pull/326/head#subdirectory=base_phone
